body {
    /*background-color: #ededed;*/
background-color:#ddedd0;
	background-image: radial-gradient(#fff 10%, transparent 10%),
	radial-gradient(#fff 10%, transparent 10%);
	background-size: 60px 60px;
	background-position: 0 0, 30px 30px;}

.container {
    background-color: white;
    border: 1px dashed #ddd;
    margin: 20px 0px 20px 0px;
    width: 600px;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 10px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 25px;
}

.main_title {
    font-family: 'Pacifico', cursive;
    /*display: inline-block;*/
    text-align: center;
    margin: 20px 10px 20px 0px ;
}

h3 {
    text-align: center;
    margin-bottom: 0px;
}


.top-bar {
    width: 500px;
    display: block;
    margin: 0 auto;
}

.welcome {
    font-family: 'Pacifico', cursive;
    display: inline-block;
    text-align: left;
    margin: 20px 10px 20px 0px ;
}

.user {
    display: inline-block;
    width: 150px;
    display: block;
    vertical-align: top;
    margin-right: 0px;
    text-align: left;
    font-style: italic;
}

.message {
    font-size: 18px;
}

.author {
    font-family: 'Pacifico', cursive;
    font-size: 18px;
}

.comment-author {
    color: #5b5b5b;
}

.comment-date {
    color: #5b5b5b;
}
.comment {
    color: #5b5b5b;
}

.comment_form {
    width: 300px;
}


.login-btn {
    margin-top: 15px;
}

.login {
    display: inline-block;
    widows: 150px;
    vertical-align: top;
    padding: 10px;
    padding-right: 70px;
}

.register {
    display: inline-block;
    widows: 150px;
    padding: 10px;

}

h1 {
    text-align: center;
}

.form-titles {
    font-weight: 12px;
    margin-top: 15px;
    margin-bottom: 0px;
}

