@{
    ViewData["Title"] = "Login";
}


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <div class="container">
        <div class="top-bar">
            <h1 class="main_title">Message Wall</h1>
        </div>
        <div class="errors">
            @{
                if (ViewBag.Errors != null) {
                    foreach(var error in ViewBag.Errors) {
                        <p>@error</p>
                    }
                }
            }
            
        </div>
        <div class="login">
            <h3>Login</h3>
            <hr>
            <form action="Login" method="post">
                <h5 class="form-titles">Email: </h5><input type="text" name="Email" class="form-control">
                <h5 class="form-titles">Password: </h5><input type="password" name="Password" class="form-control">
                <input class="btn btn-default login-btn btn-block" type="submit" value="Submit">
            </form>
        </div>

        <div class="register">
            <h3>Register</h3>
            <hr>
            <form action="Register" method="post">
                <h5 class="form-titles">First Name: </h5><input type="text" name="first_name" class="form-control">
                <h5 class="form-titles">Last Name: </h5><input type="text" name="last_name" class="form-control">
                <h5 class="form-titles">Email: </h5><input type="text" name="email" class="form-control">
                <h5 class="form-titles">Password: </h5><input type="password" name="password" class="form-control">
                <h5 class="form-titles">Confirm Password: </h5><input type="password" name="PasswordC" class="form-control">
                <input class="btn btn-success login-btn btn-block" type="submit" value="Submit">
            </form>
        </div>
    </div>
  </body>
</html>